*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
.main{
    width: 100%;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calc{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
    height: 6%;
}
.display{
    width: 99%;
    height: 25%;
    background-color: black;
}
.num-pad{
    width: 99%;
    height: 65%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    column-gap: 5px;
    row-gap: 5px;
}